{{> header}}
<main>
 <h1> Welcome to your personalized mood tracker! </h1>


 <h2> {{singleQuote}} </h2>

 <ul>
  {{#each moodEntries}}
  <li>
    <h3> {{mood}} </h3>
    <p> {{description}} </p>
  </li>
  {{/each}}
 </ul>

 <button>
  <a href="/new-entry"> Add new entry </a> 
 </button>

  <button>
   <a href="/mood-entry/{{_id}}"> Find an entry </a> 
 </button>

  <button>
   <a href="/edit-entry/{{_id}}"> Edit an entry </a> 
 </button>
</main>
